body {
	background-image:url("../images/bg.jpg");
}

a:link ,a:visited, a:hover , a:active {
	text-decoration:none;
	color:white;
	display:block;
}

/* creating a custom font */
@font-face {
	font-family:nicefont;
	src:url("../fonts/nicefont.otf");
}

/* styling the glass footer */
#glass_footer {
	position:fixed;
	width:100%;
	bottom:0;
	left: 0;
	right: 0;
	cursor:pointer;
	height: 42px;
	text-shadow:1px 1px 1px black;
	background: rgba(0,0,0,.4);
	border-top: 1px solid rgba(0,0,0,.5);
	box-shadow: inset 0 1px rgba(255,255,255,.3),inset 0 10px rgba(255,255,255,.2),inset 0 10px 20px rgba(255,255,255,.25),inset 0 -15px 30px rgba(255,255,255,.3) ;
	color:rgb(208,208,208);
}

/* the footer menu holds all the tabs */ 
#footer_menu {
	width:100%;
	height: 40px;
}

/* the calc_tab holds the calc list */
#calc_tab {
	left:102px;
	width: 150px;
}

/* the calc list holds buttons to calculators */
#calc_list {
	display: none;
	background: rgba(0,0,0,.6);
	width:180px;
	padding:5px;
	border:1px solid black;
	position: absolute;
	bottom: 48px;
	font-family: verdana;
	text-align: left;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}


#calc_li li {
	width: 180px;
}

/* forces the calc list to display upon hover */
#calc_tab:hover #calc_list {display: block; color: rgb(208,208,208);}

/* the tab class has styles for all the tabs on the page */
.tab {
	float:left;
	position: absolute;
	font-family: nicefont;
	border-right: 2px solid rgba(255,255,255,.4);
	text-align: center;
	/* -webkit-transition: ;
	-o-transition: ; */
	transition:background 1s;
	height: 40px;
}

/* a cool transitional effect on the tab when hovered over */
.tab:hover {
	background: rgba(0,0,0,.3);
	color: white;
}

#home_tab {
	width: 100px;
}


#home_tab a {
	height: 40px;
	font-family: nicefont;
}


#display_tab {
	width: 500px;
	left:254px;
}


#notifications_tab {
	right: 105px;
	font-weight: 130px;
	border-right: none;
}

#notifications_tab:hover {
	background:none;
}

#notifications_tab li {
	width: 40px;
	padding-top:5px;
	position: relative;
}

#notifications_tab li:hover {
	background: none;
}


/* creating an animation for the notification elements */
.notifications:hover {
	animation-name:moveUp;
	animation-fill-mode:forwards;
	animation-duration:.5s;
}

/* setting what happens in the life of the animation */
@keyframes moveUp {
	0% {margin-top:0px;}
	100% {margin-top:-10px;}
}

/* styling the logout tab */
#logout_tab {
	width: 105px;
	right: 0;
	font-family:verdana;
	border-right:none;
}


.logout:hover span {
	position: relative;
	bottom:3px;
}


.border_bottom_btn {
	border-bottom: 1px solid white;
}

#logout_tab a {
	height: 40px;
	width: 107px;
	display: block;
}

#logout_tab:hover a {
	color: red;
}

/* some additional helper classes */
.add_padding_top {
	padding-top: 8px;
}

.calc_list_item_height {
	height: 20px;
}